{{- partial "head.html" . -}}

<body
    class="mdui-drawer-body-left mdui-appbar-with-toolbar
     mdui-theme-primary-{{ .Site.Params.ThemePrimary }}
      mdui-theme-accent-{{ .Site.Params.ThemeAccent }}
       mdui-theme-layout-{{ .Site.Params.ThemeLayout }}">
    {{- partial "header.html" . -}}
    {{- partial "drawer.html" . -}}
    <div class="mdui-container doc-container" style="height: auto !important;">
        {{- block "main" . }}{{- end }}
    </div>
    <!-- {{- partial "footer.html" . -}} -->
    {{- partial "theme-dialog.html" . -}}
</body>

</html>
