{{ define "main" -}}
<div>

  <h1>{{ .Title }}</h1>

  <p class="mdui-text-color-theme-secondary mdui-m-t-1 mdui-m-b-2">
    <span class="mdui-m-r-1">{{ .Date.Format "2006-01-02" }}</span>
    <span class="mdui-m-r-1">约 {{ .WordCount }} 字</span>
    <span class="mdui-m-r-3">预计阅读 {{ .ReadingTime }} 分钟</span>
    <a href="/{{ .Section }}" class="mdui-text-color-theme-a700 topic-tag">{{ title .Section }}</a>
  </p>

  <div id="blog">{{ .Content }}</div>

  <script>
    $(function() {
      $('div#blog table').each(function(index, element) {
        let table = $(element).clone()
        table.addClass('mdui-table').addClass('mdui-table-hoverable')
        let div = document.createElement('div')
        $(div).addClass('mdui-table-fluid').addClass('mdui-m-b-3').append(table)
        let node = $(element).replaceWith(div)
        console.log(node[0])
      })
    })
  </script>

  <div class="mdui-m-t-2">
    {{ range $index, $tag := .Page.Params.tags }}
    <a href="/tags/{{ lower $tag }}" class="tag tag-color-{{ mod $index 5 }}">
      <i class="mdui-icon material-icons" style="margin-right: 3px; font-size: 1em;">loyalty</i>
      {{ $tag }}
    </a>
    {{ end }}
  </div>

  <div class="direct">
    {{ with .PrevInSection }}
    <a href="{{ .RelPermalink }}" class="mdui-text-color-theme-text">
      <i class="mdui-icon material-icons">chevron_left</i>
      <span class="mdui-hidden-sm-down">{{ .Title }}</span>
      <span class="mdui-hidden-md-up">上一篇</span>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
    {{ with .NextInSection }}
    <a href="{{ .RelPermalink }}" class="mdui-text-color-theme-text">
      <span class="mdui-hidden-md-up">下一篇</span>
      <span class="mdui-hidden-sm-down">{{ .Title }}</span>
      <i class="mdui-icon material-icons">chevron_right</i>
    </a>
    {{ else }}
    <span></span>
    {{ end }}
  </div>

</div>

{{ if .Site.DisqusShortname -}}
<h2>评论</h2>
<div>
  {{ partial "disqus.html" . }}
</div>
{{- end }}
{{- end }}