<div class="mdui-drawer mdui-shadow-10 mydrawer" id="main-drawer">
	
	<div>
		<img src="{{ .Site.Params.HeadUrl }}" class="mdui-color-theme-a100 avater" alt="">
		<p class="mdui-text-center mdui-text-color-theme-text p1">... {{ .Site.Params.Niconame }} ...</p>
		<p class="mdui-text-center mdui-text-color-theme-text p1">... {{ .Site.Params.Email }} ...</p>
		<p class="mdui-text-center mdui-text-color-theme-text p2">... {{ .Site.Params.Signature }} ...</p>
		<div class="mdui-divider" style="margin: 10px 10px;"></div>
	</div>

	<!-- 菜单列表 -->
	<div class="mdui-list mdui-hidden-sm-up">
		<!-- {{ $accent := slice 400 500 600 700 800 900 }}
		{{ $i := 0 }} -->
		{{ range $menu := .Site.Menus.main }}
		<a href="{{ $menu.URL }}" class="mdui-list-item mdui-ripple">
			<i class="mdui-list-item-icon mdui-icon material-icons">{{ $menu.Pre }}</i>
			<div class="mdui-list-item-content" style="font-weight: 500;">{{ $menu.Name }}</div>
			<i class="mdui-collapse-item-arrow mdui-icon material-icons">chevron_right</i>
		</a>
		<!-- {{ $i = add $i 1 }} -->
		{{ end }}
	</div>
	<!-- 标签云 -->
	<div class="top-container">
		<h4 class="mdui-text-color-theme-a400 mdui-text-center">标签云</h4>
		<div class="mdui-divider" style="margin: 8px 10px 0"></div>
		<div class="tab-box">
				{{ $base := .Site.BaseURL }}
				{{ $i := 0 }}
				{{ range $key, $value := .Site.Taxonomies.tags }}
				<a href="{{ $base }}tags/{{ $key }}" class="ytab ytag-color-{{ mod $i 5 }}">
					{{ $key }} 
					<span>({{ len $value }})</span>
				</a>
				{{ $i = add $i 1 }}
				{{ end }}

				<!-- {{ $i = 0 }}
				{{ range $key, $value := .Site.Taxonomies.tags }}
				<a href="{{ $base }}tags/{{ $key }}" class="ytab ytag-color-{{ mod $i 5 }}">
					{{ $key }} 
					<span>({{ len $value }})</span>
				</a>
				{{ $i = add $i 1 }}
				{{ end }}

				{{ $i = 0 }}
				{{ range $key, $value := .Site.Taxonomies.tags }}
				<a href="{{ $base }}tags/{{ $key }}" class="ytab ytag-color-{{ mod $i 5 }}">
					{{ $key }} 
					<span>({{ len $value }})</span>
				</a>
				{{ $i = add $i 1 }}
				{{ end }}

				{{ $i = 0 }}
				{{ range $key, $value := .Site.Taxonomies.tags }}
				<a href="{{ $base }}tags/{{ $key }}" class="ytab ytag-color-{{ mod $i 5 }}">
					{{ $key }} 
					<span>({{ len $value }})</span>
				</a>
				{{ $i = add $i 1 }}
				{{ end }} -->
		</div>
	</div>
</div>
