<!-- footer -->
<div class="mdui-container mdui-m-y-1" style="position: fixed; bottom: 0;">
	<div class="mdui-text-center mdui-text-color-theme-secondary">
		<i class="mdui-icon material-icons" style="font-size: .9rem;">copyright</i>
		<span style="font-size: .8rem;">{{ now.Format "2006" }} cjlmonster</span>
		<span style="margin: 0 3px;">|</span>
		<span style="font-size: .8rem;">
			<a href="https://beian.miit.gov.cn/" target="_blank" class="mdui-text-color-theme-secondary">粤ICP备2021067029号</a>
		</span>
	</div>
</div>
