<style>
    div.searchBar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;
        background-color: inherit;
        overflow: visible;
    }

    @media (min-width: 1024px) {
        div.searchBar {
            position: relative;
            flex-grow: 2;
        }
    }

    div.flx {
        z-index: 100;
        position: absolute;
        background-color: inherit;
        top: 0;
        right: 8px;
        bottom: 0;
        display: flex;
        align-items: center;
        transition: left .2s ease-in-out;
    }
    div.flo {
        z-index: 101;
        position: absolute;
        background-color:inherit;
        top: 100%;
        left: 0;
        right: 0;
        line-height: 1rem;
    }
</style>

<div id="app" class="searchBar">
    <div class="flx" :style="flxCSS">
        <div class="mdui-textfield mdui-textfield-expandable mdui-textfield-expanded">
            <button class="mdui-textfield-icon mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">search</i>
            </button>
            <input id="sec" v-model="message" @blur="blur" class="search-input mdui-textfield-input" type="text" placeholder="Search" />
            <button @click.stop='backpress' class="mdui-textfield-close mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">close</i>
            </button>
        </div>
    </div>
    <div class="flo mdui-list mdui-shadow-10" v-show='filterList.length != 0'>
        <div v-for="item in filterList" @mouseDown="linkTo(item.uri)" class="mdui-list-item mdui-text-color-theme-text">
            ${item.title}
        </div>
    </div>
    <button @click="showSearch" class="mdui-btn mdui-btn-icon">
        <i class="mdui-icon material-icons">search</i>
    </button>
</div>

<script>
    var vm = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            flxCSS: {
                left: '100%'
            },
            message: '',
            articles: []
        },
        computed: {
            filterList: function() {
                let that = this
                if(that.message === '') {
                    return []
                } else {
                    return that.articles.filter(function(value, index, array) {
                        let word = that.message.toLowerCase()
                        return value.title.toLowerCase().indexOf(word) != -1 
                        || value.tags.toString().toLowerCase().indexOf(word) != -1
                    })
                }
            }
        },
        created() {
            this.getArticles()
        },
        methods: {
            showSearch: function () {
                this.flxCSS.left = '0'
                document.getElementById("sec").focus()
            },
            backpress: function (event) {
                this.message = ''
                this.flxCSS.left = '100%'
            },
            blur: function() {
                this.message = ''
                this.flxCSS.left = '100%'
            },
            linkTo: function(uri) {
                location.href = uri
            },
            getArticles: function () {
                let that = this
                $.ajax({
                    url: '/index.json',
                    methon: 'get',
                    dataType: 'json',
                    success: function (data, textStatus, xhr) {
                        that.articles = data
                        that.combinds = that.articles
                    },
                    error: function (xhr, textStatus) {
                        console.log('error')
                    },
                    complete: function (xhr, textStatus) {
                        console.log('complete')
                    }
                })
            }
        },
    })
</script>